*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
    color: #fff;
}

p{
    font-size: 3rem;
}

.js{
    color: yellow;
}

.typed-text{
    color: #20c20e;
}

.cursor{
    background: #20c20e;
}